<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game-of-Life</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        table {
            position: sticky;
            empty-cells: show;
        }

        td {
            border: 1px solid black;
        }

        div.relative {
            position: relative;
            top: 50px;
        }

        .black {
            background: black;
        }
    </style>
</head>
<body onload="getCurrentGeneration()">

<script th:inline="javascript">

    const currentGenUrl = [[${current_gen_endpoint}]]
    const nextGenUrl = [[${next_gen_endpoint}]];
    const uploadUrl = [[${upload_endpoint}]];

    function disableButton(disabled, buttonID) {
        const button = document.getElementById(buttonID);
        if (button == null) return;
        button.disabled = disabled;
    }

    function upload() {
        disableButton(true, "upload_button")
        const file = document.getElementById([[${file_id}]]).files[0];

        const fr = new FileReader();
        fr.onload = function () {
            const response = sendHttpRequest("POST", uploadUrl, false, fr.result.toString());
            if (response.upload != null && response.upload === "success") {
                visualize(JSON.parse(fr.result.toString()));
            } else {
                alert([[${upload_invalid}]])
            }
        }

        fr.readAsText(file);
    }

    function getCurrentGeneration() {
        visualize(sendHttpRequest("GET", currentGenUrl, false, null));
    }

    function getNextGeneration() {
        visualize(sendHttpRequest("GET", nextGenUrl, false, null));
    }

    function sendHttpRequest(method, url, async_, message) {
        const httpRequest = new XMLHttpRequest();
        httpRequest.open(method, url, async_);
        httpRequest.setRequestHeader("Content-Type", "application/json");
        httpRequest.send(message);

        return JSON.parse(httpRequest.responseText);
    }

    function visualize(data) {
        const maxDivWidth = window.innerWidth - document.getElementById("row").offsetWidth;
        const maxDivHeight = window.innerHeight - document.getElementById("row").offsetHeight;
        const smallerDivDimension = (maxDivWidth < maxDivHeight ? maxDivWidth : maxDivHeight) - 100;

        const table = document.getElementById([[${table_id}]])
        table.setAttribute("width", smallerDivDimension + "px");
        table.setAttribute("height", smallerDivDimension + "px");
        deleteAllChildren(table);

        for (let y = 0; y < data.dimension.height; y++) {

            let row = document.createElement("tr");
            table.appendChild(row);

            for (let x = 0; x < data.dimension.width; x++) {
                let cell = document.createElement("td");

                if (data.cells[y][x] === 1) {
                    cell.setAttribute("class", "black");
                }

                row.appendChild(cell);
            }
        }
    }

    function deleteAllChildren(parent) {
        while (parent.firstChild) {
            parent.firstChild.remove()
        }
    }

</script>

<section class="my-5">
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-6 mx-auto">
                <h2 th:text="${upload_title}"></h2>
                <p th:text="${upload_message}" th:if="${upload_message ne null}" class="alert alert-primary"></p>
                <form>
                    <div class="form-group">
                        <input onchange="disableButton(false, 'upload_button')" type="file" th:id="${file_id}"
                               th:name="${file_id}"
                               accept="application/json" class="form-control-file">
                    </div>
                    <button type="submit" th:id="${upload_button_id}" th:text="${upload_button}" class="btn btn-primary"
                            disabled="disabled"
                            onclick="upload()"></button>
                </form>
            </div>
            <div class="col-md-6 mx-auto">
                <h2 th:text="${next_gen_title}"></h2>
                <button th:id="${next_gen_button_id}" th:text="${next_gen_button}" class="btn btn-primary"
                        onclick="getNextGeneration()">
                </button>
            </div>
        </div>

        <div id="table_div" class="relative">
            <table id="table" onload="getCurrentGeneration()">
            </table>
        </div>
    </div>
</section>

</body>
</html>